# aws s3 configuration
backblaze.s3.endpoint=
backblaze.s3.region=
backblaze.s3.bucket-name=
backblaze.s3.application-key=
backblaze.s3.application-key-id=
backblaze.s3.worker-shared-secret=
# Video Processing
video.processing.temp-dir=/temp
video.processing.ffmpeg-path=/usr/bin/ffmpeg
video.processing.concurrent-jobs=2
# Database configuration
spring.datasource.url=jdbc:postgresql://postgres:5432/netfliz
spring.datasource.username=netfliz
spring.datasource.password=netfliz123
#JWT configuration
application.security.jwt.secret-key=
application.security.jwt.expiration=86400000
application.security.jwt.refresh-token.expiration=604800000
# CORS configuration
spring.cors.allowed-origin-patterns=http://localhost:3000
# Proxy CDN
proxy.cnd.stream-url=http://localhost:8080
